<div class="container">
  <div class="row">
    <div class="col-xm-sm-md-lg-12">
<header id="burgergreeting">
  <img id="burgerpic" src="/images/hamburgerpic.jpg" alt="Burger">
  <h1>Eat-Da-Burger</h1>
</header>
<div id="textboxlol">
  <form>
    <input type="text" id="burgerbox">
    <button type="submit">Submit</button>
    <h3>Enter a burger you want to eat, and then click the "Submit" button!</h3>
</div>
</div>
</div>
</div>
